<header class="header">
    <div class="container">
      <a href="#" class="logo">
        <img src="./assets/img/logo-lmc-white.png" alt="LMC">
      </a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="#" routerLink = "/">HOME</a></li>
        <li><a href="#" routerLink = "/about-us">ABOUT US</a></li>
        <li><a href="#" routerLink = "/core-features">CORE FEATURES</a></li>
        <li><a href="#" routerLink = "/solutions">SOLUTIONS</a></li>
        <li><a href="#" routerLink = "/whats-new">WHAT'S NEW</a></li>
        <li><a href="#" routerLink = "/contact-us">CONTACT US</a></li>
      </ul>
    </div>
  </header>